
.back-fixed{
  position:sticky;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.back {
  background: rgba(255, 238, 0, 0.552);
  color: black;
  border: 2px solid #a8b82e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 1%;
  margin: 1%;
  cursor: pointer;
}
