.list {
  margin-top: 5%;
}
.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #a8b82e; */
    padding:3%;
}
.titleFilter{
    text-align: center;
    word-wrap: break-word;
    /* width: 120px; */
    font-size: 15px;
}
.squreFromFilter{
  display: table;
}
.squreFromFilter input{
  display: table;
    width: 90px;
}
.squreToFilter input{
  display: table;
    width: 90px;
}
.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 45px;
  text-align: center;
}
.buysphere {
  background-color: rgba(255, 238, 0, 0.442);
  color: black;
  border: 2px solid #a8b82e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 1%;
  cursor: pointer;
}

th button {
  background-color: rgba(255, 238, 0, 0.552);
  color: black;
  border: 2px solid #a8b82e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 10%;
  margin: 1%;
  width: 75px;
  cursor: pointer;
}

th button:disabled{
  background-color: rgba(255, 238, 0, 0.182);
  cursor: auto;

}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
}
.all button{
    background-color: rgba(255, 238, 0, 0.442);
    color: black;
    border: 2px solid #a8b82e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    padding: 1%;
    margin: 1%;


}
TABLE {
  /* width: 300px; Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  border: 2px solid rgba(127, 255, 212, 0.421);
  margin-top: 0 auto;
  color: black;
}
td,
th {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid maroon; /* Параметры рамки */
  text-align: left; /* Выравнивание по левому краю */
}
